@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: var(--font-space-grotesk)
  --font-body: var(--font-urbanist)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1, h2, h3 {
  font-family: var(--font-heading), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}